/*||RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*||GLOBAL*/
html {
  background-color: #012;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #123;
  border: 1px solid white;
  color: #987;
  font: clamp(1rem, 2.5vw, 2rem) monospace;
  margin: 10px auto;
  max-width: 800px;
  min-height: 90vh;
  min-width: 300px;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

button {
  cursor: pointer;
  font: inherit;
}

a:any-link {
  color: #ef8;
  text-decoration: none;
}

/*||MAIN*/
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

/*||DISPLAY*/
.main-round {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 200px;
}

.display-container p {
  filter: saturate(2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  margin: 10px;
  text-shadow: 3px 2px 3px black;
}

.versus {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px red;
  font-size: 1.75em;
  font-weight: bold;
  padding: 10px;
}

/*||CONTROL*/
.main-control {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 100px;
}

.score-container {
  min-width: 120px;
  text-align: center;
}

.score {
  margin-bottom: 5px;
}

.score-container span {
  color: #ef8;
  font-size: 1.5em;
}

.buttons-container button {
  background-color: #456;
  background: linear-gradient(#456, #345);
  border: 2px solid #345;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 5px;
}

.buttons-container button:hover {
  filter: brightness(1.1);
  text-shadow: 2px 1px 2px #123;
}

.buttons-container button:active {
  filter: brightness(0.85);
  box-shadow: none;
  text-shadow: none;
}

/*||RESULT*/
.result-container {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 80px;
}

.result-winner {
  color: #ef8;
  font-size: 1.75em;
}